#header
{
	/* height: 250px; */
	position: relative;
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../images/header_img.png');
	background-position: center;
	/* border: 1px solid black; */
}

#logo
{
	height: 150px;
	justify-content: center;
	align-items: center;
	display: flex;
	/* border: 1px solid black; */
	text-align: center;
	color: white;
	font-size: 38px;
	font-weight: bold;
}